body {
  background-color: #b3b3b3;
}

h1 {
  margin-bottom: 25px;
}

#pixelPainter {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  margin-top: 0px;
}

.color-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 20px;
  height: 100%;
  width: 150px;
  background-color: #e3e3e5;
  margin-left: -8px;
  margin-top: -8px;
}

.grid-container {
  display: inline-block;
  margin-left: 220px;
  margin-top: 50px;
  vertical-align: top;
  position: absolute;
  background-color: white;

}

.button-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 80px;
  margin-left: 2.5px;
}

.function-buttons {
  padding: 5px;
}

.color-grid {
  float: left;
  border-collapse: collapse;
  vertical-align: center;

}

.grid {
  border-collapse: collapse;
  vertical-align: top;
  position: : absolute;
}

.color-cells:hover{
  cursor: pointer;
  border-color: yellow;
}

.color-cells {
  border-style: solid;
  border-width: .01px;
  border-spacing: 0px;
  border-color: grey;
  height: 40px;
  width: 40px;

}

.click-cells: hover {
  border-style: dotted;
}

.click-cells {
  border-collapse: collapse;
  border-style: solid;
  border-width: 0px;
  border-spacing: .1px;
  border-color: black;
  height: 8px;
  width: 8px;
  cursor: cell;

}

.erase-button {
  float:bottom;
}

#current-color {
  background-color: white;
  width: 85px;
  height: 30px;
  margin-top: 5px;
  margin-left: 1px;
}