.clickCells {
  border-style: solid;
  border-width: .1px;
  border-spacing: 0px;
  border-color: grey;
  /*padding: 0;*/
  height: 20px;
  width: 20px;
}
.grid {
  display: inline-block;
  margin-left: 20px;
  border-collapse: collapse;
  vertical-align: top

}

.colorGrid {
  display: inline-block;
  float: left;
  border-collapse: collapse;
  vertical-align: top

}