#pixelPainter {
  display: inline-block;

}

.color-container {
  display: inline-block;

}

.grid-container {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top

}

.button-container {
  display: inline;
}

.color-grid {
  float: left;
  border-collapse: collapse;
  vertical-align: top
}

.grid {
  border-collapse: collapse;
  vertical-align: top
}

.color-cells {
  border-style: solid;
  border-width: .01px;
  border-spacing: 0px;
  border-color: grey;
  height: 40px;
  width: 40px;
}

.click-cells {
  border-collapse: collapse;
  border-style: solid;
  border-width: .1px;
  border-spacing: 0px;
  border-color: grey;
  height: 20px;
  width: 20px;
}
/*
.erase-button {
  display: inline;
  border-style: solid;
  border-color: grey;
  height: 40px;
  width: 85px;
}

.clear-button {
  display: inline;
  border-color: grey;
  border-style: solid;
  height: 40px;
  width: 85px;
}*/